<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
</head>
<body>
    <header class="container">
        <h1>Gestor de Finanzas Personales</h1>
        <nav>
            <ul>
                <li><a href="../views/inicio.html">Inicio</a></li>
                <li><a href="../views/banco.html">Banco</a></li>
                <li><a href="../views/tarjeta_Credito.html">Tarjeta de Credito</a></li>
                <li><a href="../views/consejos.html">Consejos</a></li>
            </ul>
        </nav>
    </header>

    <main class="container">
        <article>
            <h2>10 Consejos para la Salud Financiera</h2>

            <ol>
                <li>Haz un presupuesto y síguelo mensualmente</li>
                <li>Gasta menos de lo que ganas</li>
                <li>Ahorra e invierte al menos 10% de tus ingresos</li>
                <li>Evita las deudas, especialmente las de tarjetas de crédito</li>
                <li>Prioriza necesidades antes que lujos</li>  
                <li>Mantén 3-6 meses de gastos en ahorros para emergencias</li>
                <li>Revisa con frecuencia tu reporte de crédito</li>
                <li>Asegúrate y protege tus bienes adecuadamente</li>
                <li>Aporta regularmente para tu retiro</li>
                <li>Vive por debajo de tus posibilidades</li>
            </ol>
        </article>
    </main>
</body>
</html>