<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GFP</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <main class="container">
        <h1>Gestor de Finanzas Personales</h1>

        <form class="form">
            <label for="username">
                Usuario
                <input type="text" id="username" placeholder="Usuario">
            </label>

            <label for="password">
                Contraseña
                <input type="password" id="password" placeholder="Contraseña">
            </label>

            <button type="button" onclick="Login()">Iniciar Sesion</button>
        </form>
    </main>

    <script src="../js/index.js"></script>
</body>
</html>