<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="stylesheet" href="../css/ingresosValores.css">
    <title>resumenValores</title>
</head>
<body>
    <header class="container-fluid" id="header-nav">
        <nav>
            <ul>
              <li><a href="#" class="secondary"></a></li>
            </ul>
            <ul>
              <li><strong>Tabla de Ingresos</strong></li>
            </ul>
            <ul>
                <li><a href="/src/views/dashboard.html" class="secondary">Dashboard</a></li>
            </ul>
        </nav>            
    </header>
    <table>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Monto</th>
                <th scope="col">Descripción</th>
            </tr>
        </thead>
        <tbody id="filasIngresos">
        </tbody>
        <tfoot>
            <tr>
                <th colspan="2" scope="col">Total</th>
                <td id="totalIngresos">$0</td>
            </tr>
        </tfoot>
    </table>
    <script src="js"></script>
</body>
</html>
