<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <title>resumenValores</title>
</head>
<body>
    <h1>Tabla de Ingresos</h1>
    <table>
        <caption>Ingresos</caption>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Monto</th>
                <th scope="col">Descripción</th>
            </tr>
        </thead>
        <tbody id="filasIngresos">
        </tbody>
        <tfoot>
            <tr>
                <th colspan="2" scope="col">Total</th>
                <td id="totalIngresos">$0</td>
            </tr>
        </tfoot>
    </table>
    <script src="tu_archivo_javascript.js"></script>
</body>
</html>
