<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarjeta Credito - GFP</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="stylesheet" href="../css/tarjeta_Credito.css">
</head>
<body>
    <header class="container">
        <h1>Gestor de Finanzas Personales</h1>
        <nav>
            <ul>
                <li><a href="../views/inicio.html">Inicio</a></li>
                <li><a href="../views/banco.html">Banco</a></li>
                <li><a href="../views/tarjeta_Credito.html">Tarjeta de Credito</a></li>
                <li><a href="#">Consejos</a></li>
            </ul>
        </nav>
    </header>

    <main class="container">
        <article>
            <form class="form">
                <img src="../assets/img/tarjeta-de-credito.png" alt="tarjeta de Credito" width="100rem">
                <label for="">
                    Numero de Tarjeta
                    <input type="text">
                </label>
    
                <label for="">
                    Fecha Expiracion
                    <input type="text">
                </label>
                <label for="">
                    Titular
                    <input type="text">
                </label>
                <label for="">
                    CVV
                    <input type="text">
                </label>
            </form>
        </article>
    </main>
</body>
</html>