/* Pink (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}
/* Pink Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #6156E0;
  --primary-hover: #332142;
  --primary-focus: rgba(216, 27, 96, 0.125);
  --primary-inverse: #FFF;
}

/* Pink Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --primary: #6156E0;
    --primary-hover: #332142;
    --primary-focus: rgba(216, 27, 96, 0.125);
    --primary-inverse: #FFF;
  }
}

/* Pink Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #6156E0;
  --primary-hover: #332142;
  --primary-focus: rgba(216, 27, 96, 0.125);
  --primary-inverse: #FFF;
}

#header-nav{
  background-color: #ffffff; 
}

#header-nav nav strong {
  color: purple;
  font-size: 24px; 
  margin-left: 0px;
}

@media screen and (max-width: 768px) {
  #header-nav nav strong {
    font-size: 16px; 
  }
}


#montoIngreso{
  border-radius: 40px;
}

#descripcionIngreso{
  border-radius: 40px;
}

#montoGasto{
  border-radius: 40px;
}

#descripcionGasto{
  border-radius: 40px;
}

