body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
}

.dashboard {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.input-box {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  width: 200px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Añadimos margen inferior */
}

.display-box {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  width: 200px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px; /* Ajustamos margen superior */
}

h3 {
  margin-top: 0;
  color: #333;
}

input[type="number"],
input[type="text"],
button {
  display: block;
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="text"] {
  margin-bottom: 20px;
}

#expenseWarning {
  color: red;
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
}

/* Colores para los botones */
button {
  background-color: #4CAF50;
  color: white;
  border: none;
}

button:hover {
  background-color: #45a049;
  cursor: pointer;
}
