body, html {
  margin: 0;
  padding: 0;
  background-color: white; 
}

header#header-nav summary.secondary {
  color: #004080 !important;
}
#header-nav {
  background-color: #FFC0CB; 
}

#header-nav nav strong {
  color: rgb(0, 0, 0);
  font-size: 50px; 
  margin-left: 0px;
}

@media screen and (max-width: 768px) {
  #header-nav nav strong {
    font-size: 16px; 
  }
}

form,
article,
input {
  background-color: #b3e5fc;
  color: black;
}

#montoIngreso,
#descripcionIngreso,
#montoGasto,
#descripcionGasto {
  background-color: white; 
  color: black; 
}

.container-fluid p,
#indicardorFinanciero,
#ingresosUsuario,
#gastosUsuario {
  color: black; 
}


#montoIngreso{
  border-radius: 40px;
}

#descripcionIngreso{
  border-radius: 40px;
}

#montoGasto{
  border-radius: 40px;
}

#descripcionGasto{
  border-radius: 40px;
}

