/* Estilos para el cuerpo y la página */
body, html {
    margin: 0;
    padding: 0;
    background-color: white; 
  }
  
  /* Estilos para el encabezado */
  #header-nav {
    background-color: #FFC0CB; 
  }
  
  /* Estilos para el texto fuerte dentro del encabezado */
  #header-nav nav strong {
    color: purple;
    font-size: 50px; 
    margin-left: 0px;
  }
  
  /* Estilos para el texto fuerte dentro del encabezado en pantallas más pequeñas */
  @media screen and (max-width: 768px) {
    #header-nav nav strong {
      font-size: 16px; 
    }
  }
  
  /* Estilos para las celdas de la tabla */
  #tablaGastos th,
  #tablaGastos td {
    color: black;
  }