#header-nav{
    background-color: #ffffff; 
}
  
#header-nav nav strong {
    color: purple;
    font-size: 50px; 
    margin-left: 0px;
}
  
@media screen and (max-width: 768px) {
 #header-nav nav strong {
    font-size: 16px; 
   }
}